.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-private {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-login {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 8px;
  width: 200px;
}

/*  width: 100px;*/
button {
  margin: 8px;
  align-self: center;
}

#label-style {
  display: inline-block;
  width: 80px;
  text-align: left;
  font-weight: bold;
}​

#heading-style {
  font-weight: bold;
}

.App-error {
  margin-top: 8px;
  color: darkred;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
